@keyframes down {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(30%);
  }
}

body {
  background-color: #2e9eed;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none !important;
}

#map {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: transparent;
  background-image: linear-gradient(rgba(136, 147, 109, 0.41) 1px, transparent 1px), linear-gradient(90deg, rgba(136, 147, 109, 0.41) 1px, transparent 1px);
  background-position: calc(50% + 20px) calc(50% + 20px);
  background-size: 40px 40px;
  box-sizing: border-box;
  height: 70%;
  width: 70%;
  transition: background 0.05s ease;
}

.radar.inactive #map {
  background-image: linear-gradient(rgb(46, 62, 9) 1px, transparent 1px), linear-gradient(90deg, rgb(46, 62, 9) 1px, transparent 1px);
}

#map::before {
  z-index: -1;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: radial-gradient(circle, rgb(61, 103, 36) 0%, rgb(13, 33, 1) 100%);
  transition: background 0.05s ease;
}

.radar.inactive #map::before {
  background: radial-gradient(circle, rgb(20, 49, 3) 0%, rgb(8, 23, 0) 100%);
}

.radar.inactive::after {
  display: none;
}

.radar.inactive #map > * {
  display: none;
}

.aspect-ratio-box {
  margin-top: 14vh;
  width: 90vmin;
  max-height: 500px;
  max-width: 500px;
  position: relative;
}

.aspect-ratio-box::before {
  content: "";
  width: 1px;
  margin-left: -1px;
  float: left;
  height: 0;
  padding-top: 100%;
}

.aspect-ratio-box::after { /* to clear float */
  content: "";
  display: table;
  clear: both;
}

.mapcontainer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mapcontainer::before {
  z-index: 999;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(bottomsquare.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.radar:not(.inactive) .mapcontainer::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 9999;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 12px solid red;
  transform: translate(-50%, -50%);
}

.top {
  z-index: 998;
  position: absolute;
  top: -1%;
  left: 50.4%;
  transform: translate(-50%, -50%);
  width: 17%;
  height: 15%;
  background: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.top.animate::before {
  animation: down 0.1s ease;
}

.top::before {
  content: '';
  z-index: 998;
  position: absolute;
  top: -2%;
  left: 50%;
  margin-left: -50%;
  width: 100%;
  height: 100%;
  background-image: url(top.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 0.1s ease;
}

.swipearea {
  z-index: 1031;
  position: absolute;
  top: -1%;
  left: 50.4%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 38%;
  background: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.radar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url(bg.jpg);
  background-size: cover;
}

.leaflet-control-container {
  display: none;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.error {
  position: absolute;
  text-align: center;
  color: #ffc543;
  font-family: arial;
  font-weight: bold;
  animation: blink 1s ease 5;
  animation-fill-mode: forwards;
}

.error_top {
  display: block;
  font-size: 7vmin;
}

.error_bottom {
  display: block;
  font-size: 5vmin;
}
